{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>TecSolo Adicionar Amostra</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<script>
        function AjudaRecipe() {
            alert("Aqui esta a lista dos clientes que ja efetuaram o pagamento das analises. \n\n -Para adicionar uma nova receita basta clicar no botao adicionar receita \n");
        }
</script>
<body>

		<section id="body" class="width">
			<aside id="sidebar" class="column-left">

			<header>
				<h1><a href="">TecSolo</a></h1>

				<h2>Livro caixa!</h2>

			</header>

			<nav id="mainnav">
  				<ul>
																 <li class="selected-item"><a href="{% url 'pagos' %}">Pedidos Pagos</a></li>

                           		 <li><a href="{% url 'pendentes' %}">Pedidos Pendentes</a></li>
                               				 <li><a href="{% url 'gastos' %}">Gastos</a></li>
                                       <li><a href="{% url 'reducao' %}">Reducao</a></li>
															 	<h3><li><a href="{% url 'add' %}"><i class="fa fa-plus-square" aria-hidden="true"></i> Adicionar amostras</a></li></h3>

                        	</ul>

										<button type="button" onclick="AjudaRecipe()" class="help-button"/> Ajuda  <i class="fa fa-info-circle"></i></button>
			</nav>



			</aside>
			<section id="content" class="column-right">



			<article class="expanded">


			</article>

			<div>
			    <h1>Amostras Pagas</h1>
			</div>



<br></br>
  <button class='btn' onclick="window.location.href='{% url 'add' %}'"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar amostra</button>
  <br></br>
  <p></p>
  <form method="get" action="/search/">


  <label for="id_q">Busca: </label>
             <input type="text" name="q" id="id_q"/>
             <input type="submit" value="Enviar"/>

<table>
<tbody>
<tr>
<th>Nome</th>
<th>Data</th>
<th>Valor</th>
</tr>

<tr>
	<br></br>
	{% for amostra in pagos %}

			</div>

<td><a href="{% url 'livrocaixa.views.amostra_detail' pk=amostra.pk %}"></h1><i class="fa fa-chevron-right" aria-hidden="true"></i> {{ amostra.Cliente }}</a>
</td>
<td>{{amostra.Data}}</td>
<td>{{amostra.Valor}}</tb>
</tr>
	{% endfor %}
</tbody>
</table>

				 <br></br>
				 	 <br></br>
					 <br></br>


			<footer class="clear">
        <p>&copy; 2016 Guilherme Gorski. <a href="https://www.fb.me/GuilhermeGorskiSoftware">Projeto e Desenvolvimento de software</a></p>
			</footer>

			</section>

		<div class="clear"></div>

	</section>


</body>
</html>
